@model Result
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body class="m-1 p-1">
    <table class="table table-bordered table-striped table-sm">
        <tr>
            <td>Controller</td>
            <th>@Model.Controller</th>
        </tr>
        <tr>
            <td>Action</td>
            <th>@Model.Action</th>
        </tr>
        @foreach (var key in Model.RouteData.Keys)
        {
            <tr>
                <td>@key</td>
                <th>
                    @Model.RouteData[key]
                </th>
            </tr>
        }
    </table>
    @*<a asp-action="Index" asp-controller="Home" asp-route-id="5">Products</a>*@
    <a asp-action="List" asp-controller="Product" asp-route-categoryId="Computer">Products</a>
</body>
</html>